<body>
    <header>
        <div class="logo"><a href="/">Coding resources</a></div>
        <nav class="active">
            <ul>
                <li class="sub-menu"><a href="#">Languages</a>
                    <ul>
                        <li class="obar" aria-haspopup="true"><a href="jspage.ejs">JavaScript</a></li>
                        <li><a href="nodePage.ejs">Node</a></li>
                        <li><a href="ruby.ejs">Ruby</a></li>
                        <li><a href="pythonpage.ejs">Python</a></li>
                        <li><a href="htmlpage.ejs">HTML & CSS</a></li>
                    </ul>
                </li>
                <li><a href="tools.ejs">Tools</a></li>
                <li><a href="#">inspiration</a></li>
                <li><a href="#">blog</a></li>
            </ul>
        </nav>
        <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </header>


    

   