<%-include('includes/head.ejs')%>
<body>

<%-include('includes/nav.ejs')%>

<div id="content">
        <main>
            <div class="piece">
                <div class="title">
                    <h1 class="about-head">About</h1>
                </div>
                <div class="paragraph">
                   <p class="para1">As a very curious person who always has about 50 tabs open in my browser, I thought it would be great to have a single place where all of my programming and coding related interests were kept. So I made this website. 

 For now the focus is on web developement but the scope of the website will open up and be more varied as I learn more  about coding and programming.
<br><br>
The purpose of this website is to help people, primarily junior developers, by putting all the best web development resources in one place for easy access, especially in case we forget the name of fun tools we have used before.</p>
                </div>



<%-include('includes/end.ejs')%>