<%-include('includes/head.ejs')%>

<body>
<%-include('includes/nav.ejs')%>

<div id="content">
        <main>

            <div class="piece">
                <div class="title">
                    <h1 class="html-head"><span class="span1">HTML</span><span class="span2">&CSS</span></h1>
                </div>

                <div class="paragraph">
                    <p class="para">
                        When it comes to Web development and coding in general, most people start with <span id="hyper-style" class="balloon" data-balloon=" It is so easy!" data-balloon-pos="up">HTML</span>. HYPER TEXT MARK-UP LANGUAGE is the standard
                        mark up language for creating applications and websites on the net; it is not a programming language, it is strictly presentational. The bulk of html can be learnt in less than a week but its almost valueless on its own; it needs
                        some
                        <span id="css1">C</span><span id="css2">S</span><span id="css3">S</span>.<br>
                        <br>

                         <span class="span22">CSS</span> is a stylesheet language used for describing the presentation of the document written in HTML. For example, with
                        <span id="css-10">CSS</span> we can make a word <span id="blue-col">blue</span> or <span id="green-col">green</span> or even make every letter of a word a different color. With tools
                        like <a class="black-link" href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">flexbox</a> and <a class="black-link" href="https://gridbyexample.com/learn/" target="_blank">css grid</a>, developers can arrange and align elements on a webpage however they like. CSS can be used to change the <span id="size">font-size</span> or <span id="f-family">font-family</span> of the mark up; it can
                        even be used for animations and art. Learn more <a class="black-link hyper" href="https://learnlayout.com/" target="_blank">here</a>
                    </p>
                </div>
<br><br><br>
                <div class="resource">

                    <div id="cont2">
                    <div class="card">
                            <h2><a class="black-link" href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">HTML introduction</a></h2>
                            <p> Learn what HTML is and how to use it</p>
                        </div>

                        <div class="card">
                            <h2><a href="https://css-tricks.com/" target="_blank">css tricks</a></h2>
                            <p>A great resource itself. has all the css information you need and more!</p>
                        </div>

                        <div class="card">
                            <h2><a href="https://www.youtube.com/user/TechGuyWeb/search?query=html+css" target="_blank">Traversy</a></h2>
                            <p>HTML&CSS syntax and projects by Brad Traversy. Great content as usual</p>
                        </div>

                        <div class="card">
                            <h2><a href="https://www.thenetninja.co.uk/courses/html-for-beginners-tutorial" target="_blank">Net Ninja HTML</a></h2>
                            <p>This teacher has a great teaching style</p>
                        </div>

                        <div class="card">
                            <h2><a href="https://colorhunt.co/" target="_blank">ColorHunt</a></h2>
                            <p>Color Hunt is a free and open platform for color inspiration with thousands of trendy hand-picked color palettes</p>
                        </div>

                        <div class="card">
                            <h2><a href="https://coolors.co" target="_blank">Coolors</a></h2>
                            <p>Color Scheme Generator</p>
                        </div>

                        <div class="card">
                            <h2><a href="https://www.thenetninja.co.uk/courses/css-grid-tutorial" target="_blank">Net Ninja Grid</a></h2>
                            <p>The best free CSS grid tutorial on the internet</p>
                        </div>
                        <div class="card">
                            <h2><a href="https://picsum.photos/" target="_blank">Lorem Picsum</a></h2>
                            <p>The 'Lorem Ipsum' for photos</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

<%-include('includes/end.ejs')%>