<%-include('includes/head.ejs')%>


<body>
<%#-include('includes/nav.ejs')%> 

<div class="container">
    <div class="itemu item1 animated bounceInLeft "><p><span class="random1"><a href="about.ejs">welcome</a></span></p></div>
    <div class="itemu item2 animated bounceInDown "><p><span class="random2"><a href="tools.ejs">to</a></span></p></div>
    <div class="itemu item3 animated bounceInDown "><p><span class="random3"><a href="jspage.ejs">coding</a></span></p></div>
    <div class="itemu item4 animated bounceInDown "><p><span class="random4"><a href="tools.ejs">resources</a></span></p></div>
    <%# <div class="itemu item5"><p>html & css</p></div>
    <div class="itemu item6"><p>javaScript</p></div>
    <div class="itemu item7"><p>node</p></div>
    <div class="itemu item8"><p>ruby</p></div>
    <div class="itemu item9"><p>tools</p></div> %>
</div>
<script type="text/javascript">


   document.addEventListener("DOMContentLoaded", function() {
   
});
</script>

</body>

</html>
