<%-include('includes/head.ejs')%>

<body>

<%-include('includes/nav.ejs')%>


<div id="content">
        <main>
            <div class="piece">
                <div class="title">
                    <h1 class="python-head"><span id="python1">pyt</span><span id="python2">hon</span></h1>
                </div>
                <div class="paragraph">
                    <p></p>
                    <p>Here are some of the best resources available for anyone that wants to learn Python.</p>
                </div>
                <div class="resource">

                    <div id="cont">

                        <div class="card">
                            <h2><a href="https://wiki.python.org/moin/BeginnersGuide/NonProgrammers" target="_blank">Python Resources</a>
                            </h2>
                            <p>Python books, interactive courses, tools and videos</p>
                        </div>
                        <div class="card">
                            <h2><a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc" target="_blank">Python for beginners</a></h2>
                            <p>A six hour online video course for new Python developers</p>
                        </div>

                        <div class="card">
                            <h2><a href="https://www.youtube.com/user/schafer5/playlists" target="_blank">Corey Schafer</a></h2>
                            <p>A youtube channel with a wealth of Python information; including Django and Flask which are Python frameworks</p>
                        </div>

                        <div class="card">
                            <h2><a href="https://python.swaroopch.com/" target="_blank"> a byte of python</a>
                            </h2>
                            <p>A free book on programming with the Python language. It serves as a guide to Python for a beginner audience. </p>
                        </div>

                        <div class="card">
                            <h2>
                                <a href="http://inventwithpython.com/" target="_blank">invent with python</a>
                            </h2>
                            <p>An incredible website with free online books teaching python for beginners and computer game development</p>
                        </div>
                        <div class="card">
                            <h2>
                                <a href="https://runestone.academy/runestone/books/published/thinkcspy/index.html#" target="_blank">How to think like a computer scientist</a>
                            </h2>
                            <p>An interactive edition of the highly rated Python book by Allen B Downey</p>
                        </div>

                    </div>

                </div>
            </div>

        </main>
    </div>
<%-include('includes/end.ejs')%>