* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #202128;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

header .logo {
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    text-transform: uppercase;
    font-family: 'Nanum Gothic Coding', monospace;
}

header .logo a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    position: relative;
    font-family: 'Ubuntu Mono', monospace;
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: #202128;
    opacity: 0;
    border-radius: 7px;
}

header nav ul li:hover ul {
    opacity: 1;
    display: block;
    transform: translateX(1px);
    transition: all 0.27s ease-in-out;
    pointer-events: all;
}

header nav ul li ul li {
    display: block;
    width: 200px;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-family: 'Ubuntu Mono', monospace;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 4px;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #2abc68;
    transition: .27s ease-in-out;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 80%;
    margin: 0 auto;
    grid-gap: 15px;
    grid-template-areas: "main main main main";
}

main {
    grid-area: main;
}

.title {
    padding: 70px 50px 50px 0;
}

.paragraph {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 85%;
    margin: 0 auto;
    grid-template-areas: "para";
}

.para {
    grid-area: para;
}

.para1 {
    font-size: 110%;
    color: #272932;
}

.paragraph {
    padding: 0;
    align-items: center;
    /* font-family: 'Nanum Gothic Coding', monospace; */
    font-family: 'Ubuntu Mono', monospace;
    line-height: 190%;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 25px 25px 25px 0;
    text-align: justify;
}

a {
    text-decoration: none;
}

.hyper {
    font-weight: bold;
}

.black-link {
    color: black;
    font-weight: bolder;
}

#nodeGame {
    color: #7540F0;
}

#backEnd {
    color: rgb(255, 115, 0);
}

#ruby {
    color: #AF1401;
}

.roob-span {
    color: #AF1401;
    font-weight: bold;
}

.roob-stein {
    background: #AF1401;
    border-radius: 75% 10% 10% 100% / 10% 54% 10% 10%;
    color: white;
    font-weight: bold;
    padding: 3px;
}

#w1 {
    color: #4DA9C0;
}

#w2 {
    color: #762828;
}

#w3 {
    color: #79A81C;
}

#node1 {
    color: #026E00;
}

#neto {
    color: #E50914;
}

#neto2 {
    color: #E53238;
}

#webpage {
    color: #106f99;
}

#webpage2 {
    color: #106ED5;
}

#webpage3 {
    color: #F5AF02;
}

#webpage4 {
    color: #86B817;
}

.balloon:hover {
    cursor: default;
}

.jsyel {
    color: #d8be12;
}

#paypal {
    color: #1CA6E1;
}

#linkedin {
    color: #0077B5;
}

#hyper-style {
    color: #F16529;
}

#async {
    color: #4b2c2c;
    font-weight: bold;
}

#css1 {
    color: rgb(50, 177, 33);
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    padding: 3px 0;
}

#css2 {
    color: rgb(24, 87, 129);
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    padding: 3px 0;
}

#css3 {
    color: rgb(163, 32, 157);
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    padding: 3px 0;
}

#css-10 {
    background: #030301;
    color: white;
}

.span22 {
    color: #29A9DF;
    text-transform: uppercase;
    font-size: 120%;
}

#blue-col {
    color: rgb(9, 74, 214);
}

#green-col {
    color: rgb(19, 170, 19);
}

#diff1 {
    color: rgb(65, 201, 87);
    font-size: 24px;
    text-transform: uppercase;
}

#diff2 {
    color: rgb(199, 52, 125);
    font-size: 24px;
    text-transform: uppercase;
}

#size {
    font-size: 40px;
    color: #bbaa3e;
}

.red-white {
    background: rgba(7, 94, 145, 0.6);
    padding: 4px;
    color: white;
    border-radius: 5px;
}

#just-blue {
    background: fff;
    color: rgba(7, 94, 145, 0);
    border-radius: 10px;
}

#f-family {
    font-family: 'Dancing Script', cursive;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-style: italic;
    font-size: 110%;
    font-weight: bold;
    color: rgb(99, 96, 96);
}

#cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 50px;
    padding-bottom: 50px;
}

#cont2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 50px;
    padding-bottom: 50px;
}

.js-head {
    color: #f0db4f;
    text-transform: uppercase;
}

.about-head {
    color: #272932;
    text-transform: uppercase;
}

.ruby-head {
    color: #b50136;
    text-transform: uppercase;
}

.node-head1 {
    color: #43853D;
}

.tool-head1 {
    color: #8963BA;
}

.node-head2,
.tool-head2 {
    text-transform: uppercase;
}

.span1 {
    color: #F16529;
    text-transform: uppercase;
    margin-right: 0;
}

.span2 {
    color: #29A9DF;
    text-transform: uppercase;
    font-size: 56px;
}

.span3 {
    text-transform: lowercase;
}

.js-head,
.html-head,
.span1,
.span2,
.four-message,
.node-head2,
.tool-head2,
.ruby-head,
.about-head {
    font-family: 'Nanum Gothic Coding', monospace;
    letter-spacing: 3px;
    margin-left: 15px;
    font-size: 56px;
    padding-top: 50px;
    text-align: center;
}

.card {
    background: #f5f5f5;
    margin: 5px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: .35s;
}

.card:hover {
    transform: translateY(-5px);
    box-sizing: border-box;
    transition: .35s;
    box-shadow: 0 2px 2px rgba(41, 47, 56, 0.1), 0 4px 4px rgba(41, 47, 56, 0.1), 0 8px 8px rgba(41, 47, 56, 0.1), 0 16px 16px rgba(41, 47, 56, 0.1), 0 32px 32px rgba(41, 47, 56, 0.1);
    background: #fdfdfd;
}

.card h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    background-color: #272932;
    transition: background-color 0.3s;
}

.card h2 a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-weight: normal;
    font-size: 18px;
    transition: font-size 0.25s;
    letter-spacing: 2px;
    font-family: 'Ubuntu Mono', monospace;
}

.card h2 a:hover {
    color: #f5f5f5;
    transition: color 0.27s;
}

.card p {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 120%;
    font-family: 'Ubuntu Mono', monospace;
}

.four-message {
    color: black;
    padding: 70px;
    padding-top: 110px;
}

.container {
    padding: 10% 10% 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.item1 {
    grid-column: 1 / -1;
    grid-row: span 4;
    /* animation */
    animation-duration: 1.5s;
    animation-delay: 0.2s;
}

.item1 p {
    text-transform: uppercase;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 90px;
    font-weight: bold;
    transform: rotate(5deg);
}

.item2 {
    grid-column: 3 / 5;
    /* animation */
    animation-duration: 1.4s;
    animation-delay: 0.35s;
}

.item2 p {
    text-transform: uppercase;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 90px;
    font-weight: bold;
    transform: rotate(-15deg);
    margin-top: -30px;
    margin-left: -45px;
}

.item3 {
    grid-column: 4 / -1;
    /* animation */
    animation-duration: 1.3s;
    animation-delay: 0.5s;
}

.item3 p {
    text-transform: uppercase;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 90px;
    font-weight: bold;
    transform: rotate(2deg);
    margin-top: 30px;
    margin-left: -20px;
}

.item4 {
    grid-column: 2 / 4;
    /* animation */
    animation-duration: 10s;
    animation-delay: 0.65s;
}

.item4 p {
    text-transform: uppercase;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 90px;
    font-weight: bold;
    transform: rotate(-3deg);
    margin-left: -40px;
    margin-top: 30px;
}

.random1 {
    padding: 12.5px;
    background: #F0DB4F;
    border-radius: 360% 28% 48% 27% / 45% 78% 37% 58%;
    border
}

.random1 a {
    text-decoration: none;
    color: #18191f;
}

.random2 {
    padding: 12.5px;
    background: #039000;
    border-radius: 72% 13% 81% 37% / 6% 91% 36% 41%;
}

.random2 a {
    text-decoration: none;
    color: #18191f;
}

.random3 {
    padding: 12.5px;
    background: #F16529;
    border-radius: 100% 0% 81% 0% / 11% 94% 32% 10%;
}

.random3 a {
    text-decoration: none;
    color: #18191f;
}

.random4 {
    padding: 15px;
    background: #29A9DF;
    border-radius: 75% 10% 10% 100% / 10% 54% 10% 10%;
}

.random4 a {
    text-decoration: none;
    color: #18191f;
}

@media (max-width: 1020px) {
    #cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 50px;
        padding-bottom: 50px;
    }
    #cont2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 50px;
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) {
    header {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding: 7px 100px;
        margin: 0 0 10px 0;
        background: #202128;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    header nav ul li:hover ul {
        position: relative;
    }
    header nav ul li ul li {
        width: 100%;
    }
    .obar:hover,
    .left_bar:focus,
    .left_bar:active {
        left: 0%;
    }
    .paragraph {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto);
        max-width: 99%;
        margin: 0 auto;
        grid-template-areas: "para";
    }
    .paragraph {
        padding: 0;
        align-items: center;
        /* font-family: 'Nanum Gothic Coding', monospace; */
        font-family: 'Ubuntu Mono', monospace;
        line-height: 190%;
        font-size: 20px;
        margin-bottom: 20px;
        /* padding: 25px 25px 25px 0; */
    }
    @media (max-width: 725px) {
        #cont {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 50px;
            padding-bottom: 50px;
        }
        #cont2 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 50px;
            padding-bottom: 50px;
        }
    }
    @media (max-width: 450px) {
        .paragraph {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(100px, auto);
            max-width: 100%;
            margin: 0;
            /* auto removed from margin */
            grid-template-areas: "para";
        }
        .paragraph {
            padding: 0;
            align-items: center;
            /* font-family: 'Nanum Gothic Coding', monospace; */
            font-family: 'Ubuntu Mono', monospace;
            line-height: 190%;
            font-size: 18px;
            margin-bottom: 20px;
            /* padding: 25px 25px 25px 0; */
        }
    }
}